# =========================
# Line endings normalization
# =========================

# Force LF in all scripts and text configuration files
*.sh         text eol=lf
*.md         text eol=lf
*.template   text eol=lf
*.conf       text eol=lf
*.txt        text eol=lf
test/*.sh   text eol=lf


# =========================
# Sensitive files and templates
# =========================

# Msmtprc template: Keep as LF text, no automatic conversion
config/msmtprc.template text eol=lf

# =========================
# Binary files
# =========================

# Images or binaries (diagrams or screenshots)
*.png        binary
*.jpg        binary
*.jpeg       binary
*.gif        binary
*.pdf        binary
*.svg        text eol=lf


# =========================
# Others
# =========================

# Prevent Git from trying to convert line endings in test scripts
test/*.sh   text eol=lf
