defaults
auth           on
tls            {{TLS_MODE}}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp/msmtp.log

account        default
host           {{SMTP_SERVER}}
port           {{SMTP_PORT}}
from           {{SMTP_FROM}}
user           {{SMTP_USER}}
passwordeval   "cat /etc/msmtp.passwd"

account default : default
